[Unit]
Description=nossh agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nossh-agent -config /etc/nossh/agent.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
